*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
   font-family: 'Raleway', sans-serif;
}

header{
    background: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0 200px;
    background-position: center;
}
.header-content{
    float: right;
    width: 400px;
    text-align: right;
}

.main-title{
   margin-top: 150px;
   font-weight: 800;
}

.main-paragraph{
    margin-top: 25px;
    font-weight: 500;
}

.primary-btn{
    margin-top: 20px;
    padding: 8px 10px;
    color: #fff;
    background-color: orangered;
    border: none;
    border-radius: 3px;
    font-weight: 500;
}

.failure-section{
    display: flex;
    padding: 80px 250px;
}

.failure-section > img{
    height: 450px;
    width: auto;
}

.failure-txt{
    width: 400px;
    margin-left: 200px;
}

.failure-head{
    margin-top: 100px;
    font-weight: 800;
    font-size: 25px;
}

.failure-p{
    margin: 30px 30px 20px 0;
    font-size: 16px;
    font-weight: 400;
}

.checked{
    list-style-type: none;
}

.fa-check{
    color: lightgreen;
    font-size: 20px;
}

/* This is plan section */

.plan-section{
    padding: 0 200px;
}

.plan-title{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.plan-item{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.item > img{
    display: block;
    margin: 0 auto;
}

.item-name{
    margin-top: 15px;
}

.item-p{
    margin-top: 5px;
}